version: "3.7"

services:
  proxy:
    image: nginx:alpine
    container_name: proxy
    ports:
      - '80:80'
    volumes:
      - ./api/nginx.conf:/etc/nginx/nginx.conf
    restart: 'unless-stopped'
    networks:
      - backend

  api:
    build:
      context: ./
      target: api-dev
    image: eth/api
    container_name: eth-api
    ports:
      - '5000:5000'
    environment:
      DB__HOSTNAME: db
      DB__USERNAME: ethapi
      DB__PASSWORD: ""
      DB__DATABASE: ethapi
    volumes:
      - ./api:/app/api
      - /app/api/node_modules
    restart: 'unless-stopped'
    networks:
      - backend
    links:
      - db
    depends_on:
      - db

  db:
    image: postgres:12
    restart: always
    container_name: eth-db
    environment:
      POSTGRES_USER: ethapi
      POSTGRES_PASSWORD: ""
      POSTGRES_DB: ethapi
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    networks:
      - backend

  blockchain:
    build:
      context: .
      target: blockchain
    image: eth/blockchain
    command: yarn run start
    container_name: eth-blockchain
    ports:
      - "30310:30310"
    environment:
      NODE_ENV: development
    volumes:
      - ./blockchain/:/app/blockchain
    restart: unless-stopped
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  data:
    driver: local
